.loading-container {
  margin-top: 100px;
  margin-bottom: 200px;
}

.cards-border {
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  border: 3px solid white;
  border-radius: 15px;
}

.div-border {
  margin: 20px;
  border-radius: 15px;
}

img {
  border-radius: inherit;
}

.button-box {
  margin-right: 20px;
  margin-left: 40px;
}

.button-card {
  margin-left: 10px;
}

.button-card {
  margin-bottom: 20px;
  width: 100px;
}

.button-p-n {
  margin-right: 20px;
}

.selected {
  border: 3px solid red;
}

.input-power {
  max-width: 60px;
  border-radius: 10px;
  margin-top: 5px;
}

.test {
  width: 45%;
  align-items: center;
}

.container-power-box {
  width: 100%;
  background-color: rgb(235, 230, 230);
}

.cards-img {
  min-width: 160px;
  min-height: 240px;
  max-width: 160px;
  max-height: 240px;
}

.max-size {
  width: 366px;
  height: 300px;
}