.cards-border {
  color: white;
  background-color: rgba(255, 255, 255, 0.3);;
  border: 3px solid white;
  border-radius: 15px;
}

.div-border {
  margin-top: 20px;
  border-radius: 15px;
}

img {
  border-radius: inherit;
}

.selected {
  border: 5px solid red;
}