.cards-border {
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  border: 3px solid white;
  border-radius: 15px;
}

.div-border {
  margin: 20px;
  border-radius: 15px;
}

img {
  border-radius: inherit;
}

.selected {
  border: 5px solid red;
}

.button-box {
  margin-right: 20px;
}

.button-card {
  margin-left: 10px;
}

.button-card {
  margin-bottom: 20px;
  width: 100px;
}

.button-p-n {
  margin-right: 20px;
}
